<app-navbar></app-navbar>

<div class="element-creationCompte mx-auto">
    Contact'oo LOGO
    <mat-card-header>
        <mat-card-title>Creation du compte familial</mat-card-title>
    </mat-card-header>
    <div>
        <form class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width wdt220">
                    <input matInput id="familyName" placeholder="Choisissez un nom de groupe" type="text">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width wdt220">
                    <input matInput id="creatorName" placeholder="Prénom du créateur de compte" type="text">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width wdt220">
                    <input matInput id="email" placeholder="Email du créateur de compte" type="email">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width wdt220">
                    <input matInput id="sharedPassword" placeholder="Mot de passe partagé" type="password">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <i>Chaque membre se connectera avec son mail et ce mot de passe</i>
        </form>
    </div>
    <div>
        <p><a class="btn btn-primary mt-3" href="#" (click)="toCreateFamily()" role="button">Enregistrer</a></p>
        <!-- <button class="mt-3" mat-raised-button (click)="toCreateFamily()" color="primary">Enregistrer</button> -->
    </div>
</div>

<app-footer></app-footer>