<div id="logreg-forms">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Création de groupe</h1>
        <div *ngIf="!next">
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="nom" placeholder="Votre nom" type="text" [(ngModel)]="user.nom" [ngModelOptions]="{standalone: true}" name="nom">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="prenom" placeholder="Votre prénom" type="text" [(ngModel)]="user.prenom" [ngModelOptions]="{standalone: true}" name="prenom">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                        <mat-label>Statut</mat-label>
                        <mat-select [(ngModel)]="user.statut" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let type of listStatut" [value]="type" name="type">
                            {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <a *ngIf="!next" (click)="next = !next">suite »</a>
        <a *ngIf="next" (click)="next = !next">« retour </a>
        <div *ngIf="next">
            <div class="row" *ngIf="user.statut === 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="dateNaissance" placeholder="Date de naissance" type="date" name="date" [(ngModel)]="user.dateNaissance" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="user.statut === 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="adresse" placeholder="N° et rue" type="text" name="adresse" [(ngModel)]="user.adresse" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="ville" name="ville" placeholder="Ville" type="text" [(ngModel)]="user.ville" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="cp" name="cp" placeholder="Code postal" type="number" [(ngModel)]="user.cp" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="user.statut === 'Parent'">
                <div class="col-12">
                    <mat-checkbox [checked]="user.ehpad" (change)="setEhpad($event)">Cochez si vous résidez dans un Ehpad</mat-checkbox>
                </div>
            </div>
            <div class="row" *ngIf="user.statut === 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="numSecu" name="numSecu" placeholder="Numéro de sécurité social" type="number" [(ngModel)]="user.numSecu" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="user.statut === 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="medecin" name="medecin" placeholder="Médecin" type="text" [(ngModel)]="user.medecin" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="user.statut !== 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="mail" name="mail" placeholder="Mail" type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="user.statut !== 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="portable" name="protable" placeholder="Portable" type="number" [(ngModel)]="user.portable" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="user.statut !== 'Parent'">
                <div class="col-12">
                    <mat-form-field >
                            <input matInput id="steService" name="steService" placeholder="Nom société de service" type="text" [(ngModel)]="user.nomSteService" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label>Autre</mat-label>
                        <textarea matInput id="autre" name="autre" placeholder="Commentaire..." type="text" [(ngModel)]="user.autre" [ngModelOptions]="{standalone: true}"></textarea>
                    </mat-form-field>
                </div>
            </div>      
        
                    
            
            <button class="btn btn-success btn-block" type="submit" (click)="handleConnexion()"><i class="fas fa-sign-in-alt"></i>Créer</button>
        </div>
        

        </form>

        
</div>