p {
    text-align: center;
}

.popin-display {
    margin: 1rem !important;
}

.outline-none{
    outline: none;
}

textarea {
    resize: none;
 }

 button {
     color: white;
     background-color: #2C3E50;
     &:hover{
         background-color: #1a252f;
     }
 }