nav.txt-black ul li a {
    color:#696d74 !important;
    &:hover {
        color: #080808 !important;
    }
}
// backbground color #ecfaff
.router-link-active.router-link-active.router-link-active.router-link-active.router-link-active {
    border-radius: 2px;
    font-size: 18px;
    color: #272829 !important;

}