<app-navbar></app-navbar>

<div id="logreg-forms" style="background: #ecfaff">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Se connecter</h1>
    <div class="row">
        <div class="col-12">
            <mat-form-field >
                    <input matInput id="email" placeholder="Votre email" type="email" [(ngModel)]="person.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field >
                    <input matInput id="password" placeholder="Mot de passe" type="password" [(ngModel)]="person.password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>
    </div>
        
    
                
        
        <button class="btn btn-success btn-block" type="submit" (click)="handleConnexion()"><i class="fas fa-sign-in-alt"></i>Se connecter</button>
        <a href="#" id="forgot_pswd">Mot de passe oublié</a>
        <hr>
        
        <button class="btn btn-primary btn-block" type="button" id="btn-signup" [routerLink]="['/compte']" routerLinkActive="router-link-active" ><i class="fas fa-user-plus"></i> Créer un compte</button>
        </form>

        

        <br>
        
</div>
    
<app-footer></app-footer>