<div class=" h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto">
            <div class="text-center">
                <p id="profile-name" class="profile-name-card"></p>
                <form  class="form-signin">
                    <div>
                        <input type="tel" name="tel" id="inputTel" class="form-control form-group" placeholder="Numéro de téléphone" [(ngModel)]="person.tel" [ngModelOptions]="{standalone: true}" (click)="cleanInput('email')" required autofocus>
                    </div>
                    <p> OU </p>
                    <div>
                        <input type="email" name="email" id="inputEmail" class="form-control form-group" placeholder="Adresse mail" [(ngModel)]="person.email" [ngModelOptions]="{standalone: true}" (click)="cleanInput('tel')" required autofocus>
                        <div><button class="btn btn-lg btn-primary btn-block btn-signin mx-auto" type="submit" (click)="handleConnexion()">Entrer</button></div>
                        <a href="https://www.contactoo.fr/groupe-famille" id="forgot_pswd" >Pas encore de compte?</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>