<mat-card class="element-connexion">
    Contact'oo 
    <mat-card-header>
        <mat-card-subtitle>création d'un nouveau membre</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="addMemberGroup" class="example-form">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput id="prénom" placeholder="Prénom" type="text" formControlname="prenom">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput id="password" placeholder="Email" type="email" formControlName="email">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <a [routerLink]="">Mot de passe oublié ?</a>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="toConnect()" color="primary">Valider</button>
    </mat-card-actions>
</mat-card>