<app-bandeau-infos-journee></app-bandeau-infos-journee>
<!-- 
<div class="row mb-3">
    <div class="alert-group col-7 mx-auto" *ngFor="let msg of messageList ">
            <div class="alert alert-info alert-dismissable mx-auto" style="font-size:32px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="deleteMsg(msg)">×</button>
                <strong>Hervé: </strong>{{msg}}
            </div> 
    </div>
    <div *ngIf="aucunMsg==='true'" class="mx-auto">Aucun nouveau message</div>
</div> -->

<div class = "row" >
    <div class = "col-md-4 h-50">
       <p class = "ajdEntete">Aujourd'hui</p>
       <div class ="breakwd">
        uizefhuiezhfiuzehiufhzuihfiezhfiz
       </div>
    </div>
    <div class = "col-md-4 h-50">
        <p class = "demainEntete">Demain</p>
       <div class ="breakwd">
           zefnojezoifjozeijfzj
       </div>
    </div>
    <div class = "col-md-4 h-50">
        <p class = "prochainementEntete">Prochainement</p>
       <div class ="breakwd">
           f,lze,flkz,lkzf
       </div>
    </div>