<div id="consultation">
  <app-bandeau-infos-journee></app-bandeau-infos-journee>
  <!-- 
    <div class="row mb-3">
        <div class="alert-group col-7 mx-auto" *ngFor="let msg of messageList ">
                <div class="alert alert-info alert-dismissable mx-auto" style="font-size:32px">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="deleteMsg(msg)">×</button>
                    <strong>Hervé: </strong>{{msg}}
                </div> 
        </div>
        <div *ngIf="aucunMsg==='true'" class="mx-auto">Aucun nouveau message</div>
    </div> -->

  <div class="row" style="font-size:32px">
    <div class="col-md-4 h-50">
      <div class="ajdEntete rounded-top-contactoo">Aujourd'hui</div>
      <div class="breakwd rounded-bottom-contactoo text-center">
        Pas de message.
      </div>
    </div>
    <div class="col-md-4 h-50">
      <div class="demainEntete rounded-top-contactoo">Demain</div>
      <div class="breakwd rounded-bottom-contactoo text-center">
        Rien de prévu.
      </div>
    </div>
    <div class="col-md-4 h-50">
      <div class="prochainementEntete rounded-top-contactoo">Prochainement</div>
      <div class="breakwd rounded-bottom-contactoo text-center">
        <strong>{{ messageList[messageList.length-1].emetteur.nom }}: </strong
        >{{ messageList[messageList.length-1].corpus }}
        <strong>{{ messageList[messageList.length-2].emetteur.nom }}: </strong
          >{{ messageList[messageList.length-2].corpus }}
          <strong>{{ messageList[messageList.length-3].emetteur.nom }}: </strong
            >{{ messageList[messageList.length-3].corpus }}
      </div>
    </div>
  </div>

  <div class="row top-buffer" style="background: #bfdde8; font-size:32px">
    <div class="col">
      <div class="lastMinute rounded-left-top-contactoo">
        dernière minute ...
      </div>
      <div
        class="lastMinuteContent content-bottom text-center rounded-left-bottom-contactoo"
      >
        Nous aurons 30minutes de retard.
      </div>
    </div>
    <div class="col-md-4 content-bottom text-center">
      Jean-Louis: Je suis absent jusqu'au 25 mars
    </div>
    <div class="col-md-4">
      <div class="lastMinute rounded-right-top-contactoo">
      </div>
      <div
        class="rounded-rigth-top-contactoo"
      >
        Nous aurons 30minutes de retard.
      </div>
    </div>
  </div>
</div>
