<hr>
<div class="row">
    <div class="col-lg-4 mx-auto">
      <h2>Dernière infos groupe</h2>
      <p>Visite de Mme Daniel, infirmière. L'état général de M. Durant est satisfaisant. Il se plaint juste un peu de sa hanche suite à l'opération...</p>
      <p><a href="#" role="button">Voir toutes les infos Groupe</a></p>
      <hr>
      <div class="text-center">
        <p><a [routerLink]="['/consultation']" routerLinkActive="router-link-active"  role="button">Voir l'écran connecté</a></p>
        <p><a id="admin" role="button" (click)="gestionParent()">Administration: Gestion du parent</a></p>
        <p><a href="#" role="button">Modifier/supprimer un message de l'écran</a></p>
        <p><a [routerLink]="['/compte']" routerLinkActive="router-link-active" role="button">Ajouter un membre au Groupe</a></p>
        <p><a href="mailto:rvguevel@free.fr" class="text-danger">Signaler un bug</a></p>
      </div>
    </div>
</div>