<div class="container">

    <!-- <div class="masthead" *ngIf="!route || route.pathname !== '/consultation'">
      <h3 class="text-muted">Contactoo</h3>

      <nav class="navbar navbar-light bg-faded rounded mb-3">
          <ul class="nav text-md-center">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/consultation']" routerLinkActive="router-link-active">Voir mes messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/family']" routerLinkActive="router-link-active" >Envoyer un message</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/addMember']" routerLinkActive="router-link-active" >Ajouter une personne</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Se déconnecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>
      </nav>
    </div> -->

    <router-outlet></router-outlet>
    <br>

    <!-- Site footer -->
    <footer></footer>
    <div class="text-center"> <img src="assets/Logo Contactoo.png"> </div>

  </div> <!-- /container -->
