<div class="container">

    <!-- <div class="masthead" *ngIf="!route || route.pathname !== '/consultation'">
      <h3 class="text-muted">Contactoo</h3>

      <nav class="navbar navbar-light bg-faded rounded mb-3">
          <ul class="nav text-md-center">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/consultation']" routerLinkActive="router-link-active">Voir mes messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/family']" routerLinkActive="router-link-active" >Envoyer un message</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/addMember']" routerLinkActive="router-link-active" >Ajouter une personne</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Se déconnecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
          </ul>
      </nav>
    </div> -->

    <router-outlet></router-outlet>
    <br>
    
    <!-- Example row of columns -->
    <!-- <div class="row" *ngIf="!route || route.pathname !== '/consultation'">
      <div class="col-lg-4 mx-auto">
        <h2>Actualité de l'EHPAD</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">Voir détails »</a></p>
      </div>
      <div class="col-lg-4 mx-auto">
        <h2>Dernière information concernant votre mère</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn btn-primary" href="#" role="button">Voir détails »</a></p>
      </div>
    </div> -->

    <!-- Site footer -->
    <footer class="footer">
      <p>© Contactoo 2020</p>
    </footer>

  </div> <!-- /container -->
